.res-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: green;
  color: #fff;
  height: 100vh;
}
.score-card {
  border-style: solid;
  border-width: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.res-score {
  font-size: 25px;
  color: #fff;
  font-weight: bold;
}
